.my-form {
  max-width: 500px; /* Đặt chiều rộng tối đa cho form */
  margin: 120px auto; /* Căn giữa form trên trang */
  padding: 20px; /* Thêm khoảng cách bên trong form */
}

.forgot-btn {
  width: 100%;
}

@media (max-width: 768px) {
  .my-form {
    width: 90%; /* Trên thiết bị di động, chiếm 90% chiều rộng màn hình */
  }

  .forgot-btn {
    width: 100%;
  }
}
